.filtros {
  margin-top: 20px;
}

.padding20px {
  padding: 20px;
  margin: 15px;
}

.boton-editar-tabla {
  width: 70%;
}

.icono-navegacion {
  max-height: 25px;
  max-width: 14px;
  margin-right: 10px;
}

div.mat-menu-content > button > mat-icon {
  margin-right: 0px !important;
}


@media screen and (max-width: 61.938rem) {

  .p-datatable .p-datatable-tbody > tr {
    border: 1px solid black;
  }

  .padding20px {
    padding: 9px;
    margin: 2px;
  }
}

.margen-boton-crear-tabla {
  margin-top: 35px;
}

li.breadcrumb-item {
  color: #2196f3;
  font-size: 1rem;
}

a.miga-pan-link {
  color: #36546f !important;
  font-size: 1rem;
}
