<ng-container *transloco="let l; read:objetoInternacionalizacion.nombreScopeTransloco">
  <app-migas-de-pan [migasDePan]="migasPan"
                    [classA]="'miga-pan-link'"
                    [classSpan]="'miga-pan'"
                    [habilitarInternacionalizacion]="true"
  ></app-migas-de-pan>
  <mat-card class="filtros">
    <div class="animate__animated animate__fadeInRight">
      <mlab-titulo-pantalla
        [titulo]="l('nombreRuta')"
        [descripcion]="l('descripcionRuta')"
        [imagen]="rutaImagenPrincipal"
        [ayuda]="l('ayudaRuta')"
      >
      </mlab-titulo-pantalla>
    </div>
    <div class="mat-elevation-z8">
      <div class="padding20px">
        <h1>Pokemon</h1>

        <div class="row animate__animated animate__fadeIn">
          <div class="col-md-12">
            <app-ml-contenedor-campos-formulario (todosCamposValidos)="formularioValidoBusqueda($event)"
                                                 (cambioCampo)="cambioCampoBusqueda($event)"
                                                 (cambioAutocomplete)="formularioBusquedacambioCampoAutocomplete($event)"
                                                 [vertical]="false"
                                                 class="campo-formulario"
                                                 tituloFormulario="formularios.busqueda.formularioBusqueda.tituloFormulario"
                                                 descripcionFormulario="formularios.busqueda.formularioBusqueda.descripcionFormulario"
                                                 descripcionFormularioConGrupo="formularios.busqueda.formularioBusqueda.descripcionFormularioConGrupo"
                                                 tituloFormularioConGrupo="formularios.busqueda.formularioBusqueda.tituloFormularioConGrupo"
                                                 [habilitarInternacionalizacion]="true"
                                                 [objetoInternacionalizacion]="objetoInternacionalizacion"
                                                 [camposFormularioFuncion]="camposFormularioBusqueda"
                                                 [selectedStepperIndex]="stepperActualBusqueda"
                                                 [gruposFormularioFuncion]="_sRutaPokemonService.gruposFormularioBusqueda"
                                                 [componente]="this"
            ></app-ml-contenedor-campos-formulario>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <br>
            <button pButton
                    pRipple
                    type="button"
                    [label]="'generales.botones.buscar' | transloco"
                    class="p-button-raised p-button-primary"
                    icon="pi pi-search"
                    (click)="buscarConFiltros()"
            ></button>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>

    </div>

  </mat-card>
  <br>
  <mat-card>
    <div class="padding20px">
      <h1>{{l('tituloTabla')}}</h1>
      <p>{{l('descripcionTabla')}}</p>
      <div class="mat-elevation-z8">


        <p-table [columns]="columnasPrimeTable"
                 [value]="_sRutaPokemonService.arregloDatosFiltrado"
                 [rows]="_sRutaPokemonService.take"
                 [(first)]="_sRutaPokemonService.first"
                 styleClass="p-datatable-responsive-demo"
                 dataKey="id"
                 [customSort]="true"
                 (sortFunction)="_sRutaPokemonService.sortFirebase($event, this)"
        >


          <ng-template pTemplate="caption">
            <div class="p-d-flex table-header">
              <div class="row">
                <div class="col-sm-8">
                  <div color="accent">
                    <label class="form-label">{{'generales.filtro' | transloco}}:</label>
                    <input [placeholder]="l('filtroTabla')"
                           class="form-control"
                           [(ngModel)]="_sRutaPokemonService.filtroGeneralTabla"
                           (keyup)="_sRutaPokemonService.aplicarFiltro($event, ['nombre','tipo'])"
                    >
                  </div>
                </div>
                <!--              Seccion para campos autogenerados para mostrar table y formulario-->

                <!--              <div class="col-sm-2">-->
                <!--                <div class="float-end margen-boton-crear-tabla">-->
                <!--                  <button pButton-->
                <!--                          pRipple-->
                <!--                          label="Previsualizar tabla"-->
                <!--                          icon="pi pi-plus"-->
                <!--                          class="p-button-primary p-mr-2"-->
                <!--                          (click)="abrirModalAutogenerados(true)"-->
                <!--                  ></button>-->
                <!--                </div>-->
                <!--              </div>-->
                <!--              <div class="col-sm-2">-->
                <!--                <div class="float-end margen-boton-crear-tabla">-->
                <!--                  <button pButton-->
                <!--                          pRipple-->
                <!--                          label="Actualizar Nuevos Campos"-->
                <!--                          icon="pi pi-plus"-->
                <!--                          class="p-button-primary p-mr-2"-->
                <!--                          (click)="abrirModalAutogenerados()"-->
                <!--                  ></button>-->
                <!--                </div>-->
                <!--              </div>-->
                <div class="col-sm-2">
                  <div class="margen-boton-crear-tabla text-center">
                    <button (click)="_sRutaPokemonService.limpiarFiltroGeneral()"
                            *ngIf="_sRutaPokemonService.filtroGeneralTabla !== ''"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-times"
                            class="p-button-rounded p-button-help p-button-outlined"></button>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="float-end margen-boton-crear-tabla">
                    <button pButton
                            pRipple
                            [label]="'generales.botones.crear' | transloco"
                            icon="pi pi-plus"
                            class="p-button-success p-mr-2"
                            (click)="botonAceptarModalDisabled = true;"
                            (click)="_sRutaPokemonService.formularioEnModalActual = undefined;"
                            (click)="_sRutaPokemonService.camposSeleccionadosFormulario = {};"
                            (click)="_sRutaPokemonService.setearCamposRequeridosAFalso(this);"
                            (click)="_sRutaPokemonService.abrirModal(this,undefined)"
                    ></button>
                  </div>
                </div>

              </div>
            </div>
          </ng-template>

<!--          <ng-template pTemplate="colgroup" let-columns>-->
<!--            <colgroup>-->
<!--              <col *ngFor="let col of columns" [style.width]="col.tamanio">-->
<!--            </colgroup>-->
<!--          </ng-template>-->


          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumn]="col.field">
                <div class="p-d-flex p-jc-between p-ai-center">
                  <div class="text-center">
                    {{l('cabeceraTabla.' + col.header)}}
                  </div>
                </div>
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-pokemon let-columns="columns" let-indice="rowIndex"
                       let-expandido="expanded">

            <!--        <tr-->
            <!--                *ngIf="_sRutaPokemonService.rowGroupMetadata[pokemon.campoRelacion.campoNombre].index === indice && _sRutaPokemonService.nombreAtributoAAgrupar.length > 0"-->
            <!--                class="p-selectable-row"-->
            <!--        >-->
            <!--          <td [colSpan]="columns.length">-->
            <!--            <span class="p-text-bold p-ml-2"> <strong class="color-grupo">CAMPO NOMBRE: </strong> <strong>{{pokemon.campoRelacion.campoNombre}}</strong></span>-->
            <!--          </td>-->
            <!--        </tr>-->

            <tr class="p-selectable-row">
              <td *ngFor="let col of columns" [ngClass]="{
           'valido-carta':pokemon.habilitado,
           'invalido-carta':!pokemon.habilitado }">

                <span class="p-column-title">{{l('cabeceraTabla.' + col.header)}}:</span>


                <div *ngIf="col.field !== 'id' && col.field !== 'sisHabilitado'">
                  <div [ngClass]="{
          'text-center':col.posicion === 'text-center',
          'text-left':col.posicion === 'text-left',
          'text-right':col.posicion === 'text-right'
          }">
                    {{col.fnMostrar ? col.fnMostrar(pokemon[col.field]) : pokemon[col.field]}}
                  </div>
                </div>
                <div *ngIf="col.field === 'sisHabilitado'">
                  <div class="text-center">
                    <br>
                    <p-inputSwitch [(ngModel)]="pokemon.habilitado"
                                   (onChange)="_sRutaPokemonService
                             .activarDesactivar(
                             $event,
                             pokemon.id,
                             pokemon.habilitado,
                             'sisHabilitado',
                             pokemon,
                             this
                             )"
                    ></p-inputSwitch>
                  </div>
                </div>
                <div *ngIf="col.field === 'id'">
                  <div class="text-center">
                    <br>
                    <p-button
                      [label]="'generales.botones.editar' | transloco"
                      [disabled]="!pokemon.habilitado"
                      icon="pi pi-pencil"
                      styleClass="p-button-warning boton-editar-tabla"
                      (click)="botonAceptarModalDisabled = true;"
                      (click)="_sRutaPokemonService.formularioEnModalActual = undefined;"
                      (click)="_sRutaPokemonService.camposSeleccionadosFormulario = {};"
                      (click)="_sRutaPokemonService.setearCamposRequeridosAFalso(this);"
                      (click)="abrirModal(pokemon)"
                    ></p-button>

                    <!--                  <div *ngFor="let opcion of opciones">-->
                    <!--                    <br>-->
                    <!--                    <p-button-->
                    <!--                      [label]="opcion.nombre"-->
                    <!--                      [disabled]="!pokemon.habilitado"-->
                    <!--                      icon="pi pi-angle-double-right"-->
                    <!--                      styleClass="p-button-help"-->
                    <!--                      (click)="_sRutaPokemonService.navegar(-->
                    <!--                  _router,-->
                    <!--                  opcion.ruta(pokemon.uid)-->
                    <!--                )"-->
                    <!--                    ></p-button>-->
                    <!--                  </div>-->
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>


          <!--        <ng-template pTemplate="rowexpansion" let-pokemon let-columns="columns">-->
          <!--          <tr class="detalle-tr p-selectable-row animate__animated animate__fadeIn">-->
          <!--            <td [colSpan]="columns.length" [ngClass]="{-->
          <!--           'valido-carta':pokemon.habilitado,-->
          <!--           'invalido-carta':!pokemon.habilitado }">-->
          <!--              <table class="detalle">-->
          <!--                <tr class="p-selectable-row detalle">-->
          <!--                  <th><strong>ATRIBUTO</strong></th>-->
          <!--                  <th><strong>VALOR</strong></th>-->
          <!--                </tr>-->
          <!--                <tr class="p-selectable-row detalle"-->
          <!--                    *ngFor="let valor of _sRutaPokemonService.generarObjeto(pokemon)">-->
          <!--                  <td><strong>{{valor.llave}}</strong></td>-->
          <!--                  <td>-->
          <!--                    &lt;!&ndash;  CAMPOS QUE USEN PIPES      &ndash;&gt   -->
          <!--                <span *ngIf="valor.nombreCampo === 'algunCampoQueQuireaUsarUnPipe'">-->
          <!--                {{valor.valor | currency}}-->
          <!--                </span>-->
          <!--                     &lt;!&ndash; TODOS LOS DEMAS CAMPOS       &ndash;&gt   -->
          <!--                    <span *ngIf="valor.nombreCampo !== 'algunCampoQueQuireaUsarUnPipe'">-->
          <!--                  {{valor.valor}}-->
          <!--                </span>-->

          <!--                  </td>-->
          <!--                </tr>-->
          <!--                     &lt;!&ndash; CAMPOS RELACIONADOS      &ndash;&gt   -->
          <!--                <tr class="p-selectable-row detalle">-->
          <!--                  <td><strong>Campo Relacionado</strong></td>-->
          <!--                  <td>{{pokemon.campoRelacion.campoNombre}}</td>-->
          <!--                </tr>-->
          <!--              </table>-->
          <!--            </td>-->
          <!--          </tr>-->

          <!--        </ng-template>-->
          <!--        -->

          <ng-template pTemplate="summary">
            <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4 text-center">


                <div *ngIf="_sRutaPokemonService.yaNoHayMasRegistros">
                  <p class="text-center bold">{{'generales.otros.sinRegistros' | transloco}}</p>
                </div>
                <div *ngIf="!_sRutaPokemonService.yaNoHayMasRegistros">
                  <button pButton
                          pRipple
                          [label]="'generales.cargarMas' | transloco"
                          icon="pi pi-download"
                          class="p-button-help p-mr-2"
                          (click)="_sRutaPokemonService.limpiarFiltroGeneral()"
                          (click)="buscarSuscrito()"
                  >
                  </button>
                </div>


              </div>
              <div class="col-sm-4"></div>
            </div>
          </ng-template>
        </p-table>

      </div>
    </div>
  </mat-card>

  <br>
  <br>
</ng-container>

