<ng-container *transloco="let l; read:data.componente.objetoInternacionalizacion.nombreScopeTransloco">
  <div *ngIf="data">
    <div *ngIf="data.camposFormulario">
      <div class="row">
        <div class="col-md-9">
          <h1 mat-dialog-title>
<!--            <img class="imagen-entidad-modal"-->
<!--                 [src]="data.componente.rutaImagenPrincipal"-->
<!--                 alt=""-->
<!--            >-->
<!--            <span *ngIf="!data.tipoArchivo">-->
<!--              {{l(data.registro ? data.tituloActualizar : data.tituloCrear)}}-->
<!--            </span>-->
<!--            <span *ngIf="data.tipoArchivo">-->
              {{l('nombreRuta')}}
<!--            </span>-->
<!--            <mat-icon *ngIf="!data.registro" class="icono-operacion icono-operacion-crear">add</mat-icon>-->
<!--            <mat-icon *ngIf="data.registro" class="icono-operacion icono-operacion-editar">create</mat-icon>-->
          </h1>
        </div>
        <div class="col-md-3">
  <!--          <button mat-mini-fab-->
  <!--                  mat-dialog-close-->
  <!--                  aria-label="Example icon button with a home icon"-->
  <!--                  class="float-right"-->
  <!--                  color="primary"-->
  <!--          >-->
  <!--            <mat-icon>clear</mat-icon>-->
  <!--          </button>-->
        </div>
      </div>
      <div mat-dialog-content *ngIf="!data.componente.ocultarFormulario"
           [style.min-height]="data.componente.minHeightModal ? data.componente.minHeightModal : '400px'">
        <p>{{l('descripcionRuta')}}</p>
        <app-ml-contenedor-campos-formulario
          (todosCamposValidos)="formularioValido($event)"
          (cambioCampo)="cambioCampo($event)"
          (cambioAutocomplete)="cambioAutocomplete($event)"
          class="campo-formulario"
          [camposFormularioFuncion]="data.camposFormulario"
          (cambioStepperEnModal)="cambioStepperEnModal($event)"
          [componente]="this"
          tituloFormulario="formularios.crearEditar.formularioCrearEditar.tituloFormulario"
          descripcionFormulario="formularios.crearEditar.formularioCrearEditar.descripcionFormulario"
          descripcionFormularioConGrupo="formularios.crearEditar.formularioCrearEditar.descripcionFormularioConGrupo"
          tituloFormularioConGrupo="formularios.crearEditar.formularioCrearEditar.tituloFormularioConGrupo"
          [habilitarInternacionalizacion]="data.componente.objetoInternacionalizacion ? true : false"
          [objetoInternacionalizacion]="data.componente.objetoInternacionalizacion ? data.componente.objetoInternacionalizacion : undefined"
        ></app-ml-contenedor-campos-formulario>
        <br>
        <br>
        <br>
      </div>
      <div mat-dialog-actions>
        <div class="row">
<!--          <div class="col-sm-6">-->
<!--            <button-->
<!--              mat-raised-button-->
<!--              mat-dialog-close-->
<!--              class="p-button-raised p-button-secondary p-button-text">-->
<!--              {{'generales.botones.cancelar' | transloco}}-->
<!--            </button>-->
<!--          </div>-->
          <div class="col-sm-6">
            <button
              mat-raised-button
              color="primary"
              [disabled]="data.componente.botonAceptarModalDisabled"
              (click)="guardarEditar()"
              class="p-button-raised p-button-success botones-modal-aceptar">
              {{'generales.botones.aceptar' | transloco}}
            </button>
<!--            <button-->
<!--              *ngIf="data.registro"-->
<!--              mat-raised-button-->
<!--              color="primary"-->
<!--              [disabled]="data.componente.botonAceptarModalDisabled"-->
<!--              (click)="guardarEditar()"-->
<!--              class="p-button-raised p-button-success botones-modal-editar">-->
<!--              {{'generales.botones.editar' | transloco}}-->
<!--            </button>-->
          </div>
        </div>
      </div>


    </div>
  </div>
</ng-container>

