<ng-container *transloco="let g;">


  <ng-container *transloco="let l; read:objetoInternacionalizacion.nombreScopeTransloco">
    <!--  <app-migas-de-pan [migasDePan]="migasPan"-->
    <!--                    [classA]="'miga-pan-link'"-->
    <!--                    [classSpan]="'miga-pan'"-->
    <!--                    [habilitarInternacionalizacion]="true"-->
    <!--  ></app-migas-de-pan>-->
    <mat-card class="filtros">

      <div class="animate__animated animate__fadeInRight">
        <mlab-titulo-pantalla
          [titulo]="l('nombreRuta') + ' - ' + _sRutaArchivoSecundarioService.parametros?.tituloVista"
          [descripcion]="l('descripcionRuta')"
          [imagen]="rutaImagenPrincipal"
          [ayuda]="l('ayudaRuta')"
        >
        </mlab-titulo-pantalla>
      </div>

      <div class="row">
        <div class="col-md-3">
          <br>
          <button pButton
                  pRipple
                  type="button"
                  [label]="'generales.botones.atras' | transloco"
                  class="p-button-raised p-button-secondary"
                  icon="pi pi-caret-left"
                  (click)="atras()"></button>

        </div>
      </div>
      <br>
      <div class="mat-elevation-z8">
        <div class="padding20px">
          <h1>ArchivoSecundario</h1>

          <div class="row animate__animated animate__fadeIn">
            <div class="col-md-12">
              <app-ml-contenedor-campos-formulario (todosCamposValidos)="formularioValidoBusqueda($event)"
                                                   (cambioCampo)="cambioCampoBusqueda($event)"
                                                   (cambioAutocomplete)="formularioBusquedacambioCampoAutocomplete($event)"
                                                   [vertical]="false"
                                                   class="campo-formulario"
                                                   id="filtro-archivo-secundario"
                                                   tituloFormulario="formularios.busqueda.formularioBusqueda.tituloFormulario"
                                                   descripcionFormulario="formularios.busqueda.formularioBusqueda.descripcionFormulario"
                                                   descripcionFormularioConGrupo="formularios.busqueda.formularioBusqueda.descripcionFormularioConGrupo"
                                                   tituloFormularioConGrupo="formularios.busqueda.formularioBusqueda.tituloFormularioConGrupo"
                                                   [habilitarInternacionalizacion]="true"
                                                   [objetoInternacionalizacion]="objetoInternacionalizacion"
                                                   [camposFormularioFuncion]="camposFormularioBusqueda"
                                                   [selectedStepperIndex]="stepperActualBusqueda"
                                                   [gruposFormularioFuncion]="_sRutaArchivoSecundarioService.gruposFormularioBusqueda"
                                                   [componente]="this"
              ></app-ml-contenedor-campos-formulario>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <br>
              <button pButton
                      pRipple
                      type="button"
                      [label]="'generales.botones.buscar' | transloco"
                      id="busqueda-filtros-archivo-secundario"
                      class="p-button-raised p-button-primary"
                      icon="pi pi-search"
                      (click)="buscarConFiltros()"
              ></button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>

      </div>

    </mat-card>
    <br>
    <mat-card>
      <div class="padding20px">
        <h1>{{l('tituloTabla')}}</h1>
        <p>{{l('descripcionTabla')}}</p>
        <div class="mat-elevation-z8">

          <p-table [columns]="columnasPrimeTable"
                   [value]="_sRutaArchivoSecundarioService.arregloDatosFiltrado"
                   [lazy]="true"
                   (onLazyLoad)="_sRutaArchivoSecundarioService.cargarMasDatos($event, this)"
                   [paginator]="true"
                   [rows]="_sRutaArchivoSecundarioService.take"
                   [totalRecords]="_sRutaArchivoSecundarioService.totalRecords"
                   [rowsPerPageOptions]="_sRutaArchivoSecundarioService.registrosPorPagina"
                   [(first)]="_sRutaArchivoSecundarioService.first"
                   styleClass="p-datatable-responsive-demo"
                   dataKey="id"
                   [customSort]="true"
          >


            <ng-template pTemplate="caption">
              <div class="p-d-flex table-header">
                <div class="row">
                  <div class="col-sm-8">
                    <div color="accent">
                      <label class="form-label">{{'generales.filtro' | transloco}}:</label>
                      <input [placeholder]="l('filtroTabla')"
                             class="form-control"
                             [(ngModel)]="_sRutaArchivoSecundarioService.filtroGeneralTabla"
                             (keyup)="_sRutaArchivoSecundarioService.aplicarFiltro($event, [])"
                      >
                    </div>
                  </div>
                  <!--              Seccion para campos autogenerados para mostrar table y formulario-->

                  <!--              <div class="col-sm-2">-->
                  <!--                <div class="float-end margen-boton-crear-tabla">-->
                  <!--                  <button pButton-->
                  <!--                          pRipple-->
                  <!--                          label="Previsualizar tabla"-->
                  <!--                          icon="pi pi-plus"-->
                  <!--                          class="p-button-primary p-mr-2"-->
                  <!--                          (click)="abrirModalAutogenerados(true)"-->
                  <!--                  ></button>-->
                  <!--                </div>-->
                  <!--              </div>-->
                  <!--              <div class="col-sm-2">-->
                  <!--                <div class="float-end margen-boton-crear-tabla">-->
                  <!--                  <button pButton-->
                  <!--                          pRipple-->
                  <!--                          label="Actualizar Nuevos Campos"-->
                  <!--                          icon="pi pi-plus"-->
                  <!--                          class="p-button-primary p-mr-2"-->
                  <!--                          (click)="abrirModalAutogenerados()"-->
                  <!--                  ></button>-->
                  <!--                </div>-->
                  <!--              </div>-->
                  <div class="col-sm-2">
                    <div class="paddingTop36px text-center">
                      <button (click)="_sRutaArchivoSecundarioService.limpiarFiltroGeneral()"
                              *ngIf="_sRutaArchivoSecundarioService.filtroGeneralTabla !== ''"
                              pButton
                              pRipple
                              type="button"
                              icon="pi pi-times"
                              class="p-button-rounded p-button-help p-button-outlined"></button>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="float-end margen-boton-crear-tabla">
                      <button pButton
                              pRipple
                              [label]="'generales.botones.crear' | transloco"
                              id="crear-archivo-secundario"
                              icon="pi pi-plus"
                              class="p-button-success p-mr-2"
                              (click)="botonAceptarModalDisabled = true;"
                              (click)="_sRutaArchivoSecundarioService.formularioEnModalActual = undefined;"
                              (click)="_sRutaArchivoSecundarioService.camposSeleccionadosFormulario = {};"
                              (click)="_sRutaArchivoSecundarioService.setearCamposRequeridosAFalso(this);"
                              (click)="abrirModal()"
                      ></button>
                    </div>
                  </div>

                </div>
              </div>
            </ng-template>

            <!--            <ng-template pTemplate="colgroup" let-columns>-->
            <!--              <colgroup>-->
            <!--                <col *ngFor="let col of columns" [style.width]="col.tamanio">-->
            <!--              </colgroup>-->
            <!--            </ng-template>-->
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumn]="col.field">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    <div class="text-center">
                      {{l('cabeceraTabla.' + col.header)}}
                    </div>
                  </div>
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-archivoSecundario let-columns="columns" let-indice="rowIndex"
                         let-expandido="expanded">

              <!--        <tr-->
              <!--                *ngIf="_sRutaArchivoSecundarioService.rowGroupMetadata[archivoSecundario.campoRelacion.campoNombre].index === indice && _sRutaArchivoSecundarioService.nombreAtributoAAgrupar.length > 0"-->
              <!--                class="p-selectable-row"-->
              <!--        >-->
              <!--          <td [colSpan]="columns.length">-->
              <!--            <span class="p-text-bold p-ml-2"> <strong class="color-grupo">{{l('cabeceraTabla.nombreGrupo')}}: </strong> <strong>{{archivoSecundario.campoRelacion.campoNombre}}</strong></span>-->
              <!--          </td>-->
              <!--        </tr>-->

              <tr class="p-selectable-row" [id]="'tr-' + archivoSecundario.id">
                <td *ngFor="let col of columns" [ngClass]="{
           'valido-carta':archivoSecundario.habilitado,
           'invalido-carta':!archivoSecundario.habilitado }">


                  <span class="p-column-title">{{l('cabeceraTabla.' + col.header)}}:</span>

                  <div *ngIf="col.field !== 'id' && col.field !== 'sisHabilitado'">
                    <div [ngClass]="{
          'text-center':col.posicion === 'text-center',
          'text-left':col.posicion === 'text-left',
          'text-right':col.posicion === 'text-right'
          }">
                      {{col.fnMostrar ? col.fnMostrar(archivoSecundario[col.field]) : archivoSecundario[col.field]}}
                    </div>
                  </div>

                  <!--                <div *ngIf="col.header === 'Imagen'" class="text-center">-->
                  <!--                  <div *ngIf="archivoSecundario.sis_imagen">-->
                  <!--                    <p><strong>{{l('cabeceraTabla.imagen')}}:</strong></p>-->
                  <!--                    <p><strong>{{l('cabeceraTabla.imagen')}}:</strong></p>-->
                  <!--                    <img class="img-fluid imagen-tabla" [src]="col.fnMostrarImagen(archivoSecundario)" alt="">-->
                  <!--                    <p><strong>{{l('cabeceraTabla.nombreImagen')}}:</strong> {{archivoSecundario.sis_imagen.originalname}}</p>-->
                  <!--                  </div>-->
                  <!--                  <div *ngIf="archivoSecundario.sis_archivo">-->
                  <!--                    <div class="text-center" >-->
                  <!--                      <strong>{{l('cabeceraTabla.archivo')}}:</strong> {{archivoSecundario.sis_archivo.mimetype}} <img class="imagen-icono" src="assets/libreria/icono-archivo.svg" alt="">-->
                  <!--                    </div>-->
                  <!--                    <p><strong>{{l('cabeceraTabla.nombreArchivo')}}:</strong> {{archivoSecundario.sis_archivo.originalname}}</p>-->

                  <!--                    <div>-->
                  <!--                      <br>-->
                  <!--                      <p-button-->
                  <!--                              [label]="'Descargar archivo'"-->
                  <!--                              [disabled]="!archivoSecundario.habilitado"-->
                  <!--                              icon="pi pi-angle-double-right"-->
                  <!--                              styleClass="p-button-help"-->
                  <!--                              (click)="_sRutaArchivoSecundarioService.descargarArchivo(archivoSecundario.sis_archivo)"-->
                  <!--                      ></p-button>-->
                  <!--                    </div>-->
                  <!--                  </div>-->
                  <!--                </div>-->


                  <div *ngIf="col.header === 'sis_IM' && _sRutaArchivoSecundarioService.parametros?.tipo" class="text-center">
                    <div *ngIf="_sRutaArchivoSecundarioService.parametros?.tipo">

                    </div>
                    <div *ngIf="_sRutaArchivoSecundarioService.parametros?.tipo === 'IM'">
                      <p *ngIf="archivoSecundario.nombre && archivoSecundario.nombre !== 'undefined'">
                        <strong>{{archivoSecundario.nombre}}</strong> {{archivoSecundario.descripcion}}
                      </p>
                      <p><strong>{{g('generales.archivos.imagen.nombre')}}:</strong></p>
                      <img class="img-fluid imagen-tabla" [src]="col.fnMostrarImagen(archivoSecundario)" alt="">
                      <p><strong>{{g('generales.archivos.imagen.mensajeNombre')}}
                        :</strong> {{archivoSecundario.originalname}}</p>
                    </div>
                    <div class="espaciador"></div>
                    <div *ngIf="_sRutaArchivoSecundarioService.parametros?.tipo === 'AR'">
                      <p *ngIf="archivoSecundario.nombre  && archivoSecundario.nombre !== 'undefined'">
                        <strong>{{archivoSecundario.nombre}}</strong> {{archivoSecundario.descripcion}}
                      </p>
                      <div class="text-center">
                        <strong>{{g('generales.archivos.archivo.nombre')}}
                          :</strong> {{archivoSecundario.mimetype}} <img class="imagen-icono"
                                                                                src="assets/libreria/icono-archivo.svg"
                                                                                alt="">
                      </div>
                      <p><strong>{{g('generales.archivos.archivo.mensajeNombre')}}
                        :</strong> {{archivoSecundario.originalname}}</p>

                      <div>
                        <br>
                        <p-button
                          [label]="g('generales.archivos.archivo.botonDescargarArchivo')"
                          [disabled]="!archivoSecundario.habilitado"
                          icon="pi pi-angle-double-right"
                          styleClass="p-button-help"
                          (click)="_sRutaArchivoSecundarioService.descargarArchivo(archivoSecundario)"
                        ></p-button>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="col.field === 'sisHabilitado'">
                    <div class="text-center">
                      <br>
                      <p-inputSwitch [(ngModel)]="archivoSecundario.habilitado"
                                     (onChange)="_sRutaArchivoSecundarioService
                             .activarDesactivar(
                             $event,
                             archivoSecundario.id,
                             archivoSecundario.habilitado,
                             'sisHabilitado',
                             archivoSecundario,
                             this
                             )"
                      ></p-inputSwitch>
                    </div>
                  </div>
<!--                  <div *ngIf="col.field === 'id'">-->
<!--                    <div class="text-center">-->
<!--                      <br>-->
<!--                      <p-button-->
<!--                        [label]="'generales.botones.editar' | transloco"-->
<!--                        [id]="'tr' + archivoSecundario.id +'_editar'"-->
<!--                        [disabled]="!archivoSecundario.habilitado"-->
<!--                        icon="pi pi-pencil"-->
<!--                        styleClass="p-button-warning"-->
<!--                        (click)="botonAceptarModalDisabled = true;"-->
<!--                        (click)="_sRutaArchivoSecundarioService.formularioEnModalActual = undefined;"-->
<!--                        (click)="_sRutaArchivoSecundarioService.camposSeleccionadosFormulario = {};"-->
<!--                        (click)="_sRutaArchivoSecundarioService.setearCamposRequeridosAFalso(this);"-->
<!--                        (click)="abrirModal(archivoSecundario)"-->
<!--                      ></p-button>-->
<!--                      &lt;!&ndash;                    <button mat-icon-button [matMenuTriggerFor]="opcionesRuta"&ndash;&gt;-->
<!--                      &lt;!&ndash;                            aria-label="Example icon-button with a menu">&ndash;&gt;-->
<!--                      &lt;!&ndash;                      <mat-icon>more_vert</mat-icon>&ndash;&gt;-->
<!--                      &lt;!&ndash;                    </button>&ndash;&gt;-->
<!--                      &lt;!&ndash;                    <mat-menu #opcionesRuta="matMenu">&ndash;&gt;-->
<!--                      &lt;!&ndash;                      <button *ngFor="let opcion of opciones"&ndash;&gt;-->
<!--                      &lt;!&ndash;                              mat-menu-item&ndash;&gt;-->
<!--                      &lt;!&ndash;                              [disabled]="!archivoSecundario.habilitado"&ndash;&gt;-->
<!--                      &lt;!&ndash;                              (click)="_sRutaarchivoSecundarioService.navegar(&ndash;&gt;-->
<!--                      &lt;!&ndash;                                           _router,&ndash;&gt;-->
<!--                      &lt;!&ndash;                                           opcion.ruta(archivoSecundario.id))"&ndash;&gt;-->
<!--                      &lt;!&ndash;                      >&ndash;&gt;-->

<!--                      &lt;!&ndash;                        <mat-icon>keyboard_arrow_right</mat-icon>&ndash;&gt;-->
<!--                      &lt;!&ndash;                        <img [src]="rutaImagenAssets + opcion.rutaImagen"&ndash;&gt;-->
<!--                      &lt;!&ndash;                             alt=""&ndash;&gt;-->
<!--                      &lt;!&ndash;                             class="icono-navegacion"&ndash;&gt;-->
<!--                      &lt;!&ndash;                        > {{l(opcion.nombre)}}&ndash;&gt;-->
<!--                      &lt;!&ndash;                      </button>&ndash;&gt;-->
<!--                      &lt;!&ndash;                    </mat-menu>&ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash;                  <div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <p-button&ndash;&gt;-->
<!--                    &lt;!&ndash;                            [label]="'generales.botones.subirImagen' | transloco"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            [disabled]="!archivoSecundario.habilitado"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            icon="pi pi-angle-double-right"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            styleClass="p-button-help"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            (click)="abrirFormularioCrearArchivo('imagen', archivoSecundario)"&ndash;&gt;-->
<!--                    &lt;!&ndash;                    ></p-button>&ndash;&gt;-->
<!--                    &lt;!&ndash;                  </div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                  <div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <p-button&ndash;&gt;-->
<!--                    &lt;!&ndash;                            [label]="'generales.botones.subirArchivo' | transloco"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            [disabled]="!archivoSecundario.habilitado"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            icon="pi pi-angle-double-right"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            styleClass="p-button-help"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            (click)="abrirFormularioCrearArchivo('archivo', archivoSecundario)"&ndash;&gt;-->
<!--                    &lt;!&ndash;                    ></p-button>&ndash;&gt;-->
<!--                    &lt;!&ndash;                  </div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                  <div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <p-button&ndash;&gt;-->
<!--                    &lt;!&ndash;                            [label]="'generales.botones.gestionarImagenes' | transloco"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            [disabled]="!archivoSecundario.habilitado"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            icon="pi pi-angle-double-right"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            styleClass="p-button-help"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            (click)="irRutaArchivos('imagen', archivoSecundario)"&ndash;&gt;-->
<!--                    &lt;!&ndash;                    ></p-button>&ndash;&gt;-->
<!--                    &lt;!&ndash;                  </div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                  <div>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <br>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <p-button&ndash;&gt;-->
<!--                    &lt;!&ndash;                            [label]="'generales.botones.gestionarArchivos' | transloco"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            [disabled]="!archivoSecundario.habilitado"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            icon="pi pi-angle-double-right"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            styleClass="p-button-help"&ndash;&gt;-->
<!--                    &lt;!&ndash;                            (click)="irRutaArchivos('archivo', archivoSecundario)"&ndash;&gt;-->
<!--                    &lt;!&ndash;                    ></p-button>&ndash;&gt;-->
<!--                    &lt;!&ndash;                  </div>&ndash;&gt;-->
<!--                  </div>-->
                </td>
              </tr>
            </ng-template>


            <!--        <ng-template pTemplate="rowexpansion" let-archivoSecundario let-columns="columns">-->
            <!--          <tr class="detalle-tr p-selectable-row animate__animated animate__fadeIn">-->
            <!--            <td [colSpan]="columns.length" [ngClass]="{-->
            <!--           'valido-carta':archivoSecundario.habilitado,-->
            <!--           'invalido-carta':!archivoSecundario.habilitado }">-->
            <!--              <table class="detalle">-->
            <!--                <tr class="p-selectable-row detalle">-->
            <!--                  <th><strong>ATRIBUTO</strong></th>-->
            <!--                  <th><strong>VALOR</strong></th>-->
            <!--                </tr>-->
            <!--                <tr class="p-selectable-row detalle"-->
            <!--                    *ngFor="let valor of _sRutaArchivoSecundarioService.generarObjeto(archivoSecundario)">-->
            <!--                  <td><strong>{{valor.llave}}</strong></td>-->
            <!--                  <td>-->
            <!--                    &lt;!&ndash;  CAMPOS QUE USEN PIPES      &ndash;&gt   -->
            <!--                <span *ngIf="valor.nombreCampo === 'algunCampoQueQuireaUsarUnPipe'">-->
            <!--                {{valor.valor | currency}}-->
            <!--                </span>-->
            <!--                     &lt;!&ndash; TODOS LOS DEMAS CAMPOS       &ndash;&gt   -->
            <!--                    <span *ngIf="valor.nombreCampo !== 'algunCampoQueQuireaUsarUnPipe'">-->
            <!--                  {{valor.valor}}-->
            <!--                </span>-->

            <!--                  </td>-->
            <!--                </tr>-->
            <!--                     &lt;!&ndash; CAMPOS RELACIONADOS      &ndash;&gt   -->
            <!--                <tr class="p-selectable-row detalle">-->
            <!--                  <td><strong>Campo Relacionado</strong></td>-->
            <!--                  <td>{{archivoSecundario.campoRelacion.campoNombre}}</td>-->
            <!--                </tr>-->
            <!--              </table>-->
            <!--            </td>-->
            <!--          </tr>-->

            <!--        </ng-template>-->
            <!--        -->

            <ng-template pTemplate="summary">
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">

                  {{_sRutaArchivoSecundarioService.registrosPagina}}

                  {{'generales.registrosDeUnTotalDe' | transloco}}

                  {{_sRutaArchivoSecundarioService.totalRecords}}

                  {{'generales.registros' | transloco}}


                </div>
                <div class="col-sm-4"></div>
              </div>
            </ng-template>
          </p-table>

        </div>
      </div>
    </mat-card>

    <br>
    <br>
  </ng-container>


</ng-container>
