.imagen-item-menu {
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.texto-item-menu {
  text-align: center;
  line-height: 22px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #a2a2a2;
  border: 2px solid #1D2E3D;
  width: 82%;
  margin: auto;
  height: 50px;
  font-size: 0.8rem;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-top-width: 1px;
}

.contenedor-item-menu {
  padding-top: 10px;
  line-height: 22px;
  border-radius: 3px;
  background-color: #ececec;
  border: 2px solid #1D2E3D;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 10px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contenedor-card {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.titulo-item-menu {
  font-size: 0.95rem;
  text-align: center;
  font-weight: bold;
  color: #1D2E3D;
}
