<div class="text-center contenedor-card"
     [attr.data-cy]="'botonItemMenu'"
     (click)="irARuta()">
  <div class="card contenedor-card ">
    <img class="card-img-top img-fluid imagen-item-menu rounded mx-auto d-block" [src]="imagen" [alt]="texto">
    <div class="card-body">
      <h2 class="card-title">{{texto}}</h2>
      <p class="card-text">{{descripcion}}</p>
    </div>
  </div>
</div>
