<p-blockUI [blocked]="cargandoService.activo">
  <h1 style="color:white;">Cargando...</h1>
</p-blockUI>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="showFiller = !showFiller"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{'nombreAplicativo' | transloco}}</span>
  <div class="espacio"></div>
  <div>
    <span *ngIf="authService.objetoAuth.estaLogeado">
      <button mat-icon-button class="example-icon" [routerLink]="['/login']"
              aria-label="Example icon-button with share icon">
        <mat-icon>account_box</mat-icon>
      </button>
    </span>


    <div class="version">
      <div class="float-left">
        <button mat-icon-button [matMenuTriggerFor]="menuPrincipal" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuPrincipal="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="menuLenguaje">
            <img class="icono-lenguaje" src="/assets/img/paises/translate.svg" alt="">
            <mat-menu #menuLenguaje="matMenu">
              <button mat-menu-item (click)="cambiarIdioma('es')">
                <img class="icono-lenguaje" src="/assets/img/paises/spain.svg" alt="">
              </button>
              <button mat-menu-item (click)="cambiarIdioma('en')">
                <img class="icono-lenguaje" src="/assets/img/paises/united-states.svg" alt="">
              </button>
            </mat-menu>
          </button>
          <!--            <mat-icon>dialpad</mat-icon>-->
          <!--            <span>Redial</span>-->
          <!--          </button>-->
          <!--          <button mat-menu-item disabled>-->
          <!--            <mat-icon>voicemail</mat-icon>-->
          <!--            <span>Check voice mail</span>-->
          <!--          </button>-->
          <!--          <button mat-menu-item>-->
          <!--            <mat-icon>notifications_off</mat-icon>-->
          <!--            <span>Disable alerts</span>-->
          <!--          </button>-->
        </mat-menu>
      </div>
      <a href="https://manticore-labs.com"
         target="_blank"
      >
        <img class="logo-manticore-labs"
             src="https://manticore-labs.com/wp-content/uploads/2019/09/logo-manticore-png.png"
             alt="Logo Manticore Labs"
             title="Manticore Labs"
        >
      </a>
      V {{versionAplicativo}}
    </div>

  </div>
  <!--  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
  <!--    <mat-icon>favorite</mat-icon>-->
  <!--  </button>-->
  <!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
  <!--    <mat-icon>share</mat-icon>-->
  <!--  </button>-->
</mat-toolbar>
<mat-drawer-container [class]="'example-container '" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div>
      <h2>{{'modulos.moduloPrincipal.nombreMenu' | transloco}}</h2>
      <p-panelMenu [model]="menuGeneralService.itemsDeMenuFiltrado.inicio"></p-panelMenu>
      <br>
    </div>
    <div *ngIf="authService.objetoAuth.estaLogeado && authService.objetoAuth.usuarioSeguridad">
      <h3>{{'modulos.moduloPrincipal.bienvenido' | transloco}}
        {{authService.objetoAuth.usuarioSeguridad.datosUsuario.apellidos}} {{authService.objetoAuth.usuarioSeguridad.datosUsuario.nombres}}
      </h3>
<!--      <h2>{{'modulos.moduloPrincipal.menuModulos' | transloco}}</h2>-->
      <div *ngIf="menuGeneralService.aparecer">
        <p-panelMenu [model]="menuGeneralService.itemsDeMenuFiltrado.ejemploNest"></p-panelMenu>
        <br>
      </div>
<!--      <br>-->
<!--      <div *ngIf="menuGeneralService.aparecer">-->
<!--        <p-panelMenu [model]="menuGeneralService.itemsDeMenu.pokemonFirebase.arregloItems"></p-panelMenu>-->
<!--      </div>-->

    </div>


    <!--    <div *ngIf="items">-->
    <!--      <div class="mat-title accent-color">Bienvenido</div>-->
    <!--      <p-panelMenu  [model]="items" style="width: 300px; background-color: #000000 !important; color: #ffffff !important;"></p-panelMenu>-->
    <!--    </div>-->

    <!--    <mat-list>-->
    <!--      <mat-selection-list [multiple]="false">-->

    <!--        <div>-->
    <!--          &lt;!&ndash;          <mat-list-option *ngFor="let item of itemsMenuPrincipal"&ndash;&gt;-->
    <!--          &lt;!&ndash;                           (click)="irARuta(item().ruta)"&ndash;&gt;-->
    <!--          &lt;!&ndash;                           (click)="showFiller = !showFiller"&ndash;&gt;-->
    <!--          &lt;!&ndash;                           (click)="drawer.toggle()"&ndash;&gt;-->
    <!--          &lt;!&ndash;          >&ndash;&gt;-->
    <!--          &lt;!&ndash;            <p> {{item().nombreItem}}  </p>&ndash;&gt;-->
    <!--          &lt;!&ndash;            &lt;!&ndash;          <mat-icon class="example-icon">{{item.icono}}</mat-icon>&ndash;&gt;&ndash;&gt;-->
    <!--          &lt;!&ndash;          </mat-list-option>&ndash;&gt;-->

    <!--        </div>-->
    <!--        &lt;!&ndash;        <div *ngIf="authService.estaLogeado">&ndash;&gt;-->
    <!--        &lt;!&ndash;          <p>{{authService.usuarioFirebase?.email}}</p>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <mat-divider></mat-divider>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <br>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <div class="mat-title accent-color">Opciones</div>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <mat-list-option&ndash;&gt;-->
    <!--        &lt;!&ndash;            *ngFor="let item of itemsMenuUsuario"&ndash;&gt;-->
    <!--        &lt;!&ndash;            (click)="irARuta([item.ruta])"&ndash;&gt;-->
    <!--        &lt;!&ndash;            (click)="showFiller = !showFiller"&ndash;&gt;-->
    <!--        &lt;!&ndash;            (click)="drawer.toggle()"&ndash;&gt;-->
    <!--        &lt;!&ndash;            (click)="setearComponenteActual(item.nombreClase)"&ndash;&gt;-->
    <!--        &lt;!&ndash;          >&ndash;&gt;-->
    <!--        &lt;!&ndash;            <p> {{item.nombreItem}}  </p>&ndash;&gt;-->
    <!--        &lt;!&ndash;            &lt;!&ndash;          <mat-icon class="example-icon">{{item.icono}}</mat-icon>&ndash;&gt;&ndash;&gt;-->
    <!--        &lt;!&ndash;          </mat-list-option>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <div *ngIf="authService.tieneRol('admin')">&ndash;&gt;-->
    <!--        &lt;!&ndash;            <mat-divider></mat-divider>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <br>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <div class="mat-title accent-color">Administrador</div>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <mat-list-option *ngFor="let item of itemsMenuAdministrador"&ndash;&gt;-->
    <!--        &lt;!&ndash;                             (click)="irARuta([item.ruta])"&ndash;&gt;-->
    <!--        &lt;!&ndash;                             (click)="showFiller = !showFiller"&ndash;&gt;-->
    <!--        &lt;!&ndash;                             (click)="drawer.toggle()"&ndash;&gt;-->
    <!--        &lt;!&ndash;                             (click)="setearComponenteActual(item.nombreClase)"&ndash;&gt;-->
    <!--        &lt;!&ndash;            >&ndash;&gt;-->
    <!--        &lt;!&ndash;              <p> {{item.nombreItem}}  </p>&ndash;&gt;-->
    <!--        &lt;!&ndash;              &lt;!&ndash;          <mat-icon class="example-icon">{{item.icono}}</mat-icon>&ndash;&gt;&ndash;&gt;-->
    <!--        &lt;!&ndash;            </mat-list-option>&ndash;&gt;-->
    <!--        &lt;!&ndash;          </div>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <div *ngIf="authService.tieneRol('superadmin')">&ndash;&gt;-->
    <!--        &lt;!&ndash;            <mat-divider></mat-divider>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <br>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <div class="mat-title accent-color">Super Administrador</div>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <mat-list-option *ngFor="let item of itemsMenuSuperAdministrador"&ndash;&gt;-->
    <!--        &lt;!&ndash;                             (click)="irARuta([item.ruta])"&ndash;&gt;-->
    <!--        &lt;!&ndash;                             (click)="showFiller = !showFiller"&ndash;&gt;-->
    <!--        &lt;!&ndash;                             (click)="drawer.toggle()"&ndash;&gt;-->
    <!--        &lt;!&ndash;                             (click)="setearComponenteActual(item.nombreClase)"&ndash;&gt;-->
    <!--        &lt;!&ndash;            >&ndash;&gt;-->
    <!--        &lt;!&ndash;              <p> {{item.nombreItem}}  </p>&ndash;&gt;-->
    <!--        &lt;!&ndash;              &lt;!&ndash;          <mat-icon class="example-icon">{{item.icono}}</mat-icon>&ndash;&gt;&ndash;&gt;-->
    <!--        &lt;!&ndash;            </mat-list-option>&ndash;&gt;-->
    <!--        &lt;!&ndash;          </div>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <mat-divider></mat-divider>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <br>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <mat-list-option *ngFor="let item of itemsMenuSalir"&ndash;&gt;-->
    <!--        &lt;!&ndash;                           (click)="irARuta([item.ruta])"&ndash;&gt;-->
    <!--        &lt;!&ndash;                           (click)="showFiller = !showFiller"&ndash;&gt;-->
    <!--        &lt;!&ndash;                           (click)="drawer.toggle()"&ndash;&gt;-->
    <!--        &lt;!&ndash;                           (click)="setearComponenteActual('fondo-ruta-logout')"&ndash;&gt;-->
    <!--        &lt;!&ndash;          >&ndash;&gt;-->
    <!--        &lt;!&ndash;            <p> {{item.nombreItem}}  </p>&ndash;&gt;-->
    <!--        &lt;!&ndash;            &lt;!&ndash;          <mat-icon class="example-icon">{{item.icono}}</mat-icon>&ndash;&gt;&ndash;&gt;-->
    <!--        &lt;!&ndash;          </mat-list-option>&ndash;&gt;-->
    <!--        &lt;!&ndash;        </div>&ndash;&gt;-->

    <!--      </mat-selection-list>-->
    <!--    </mat-list>-->

  </mat-drawer>
  <div class="sidenav-content-ml">
    <div class="container">
      <!--      <ml-usuario-formulario-->
      <!--        [configuracionDisabled]="configuracionDisabled"-->
      <!--      ></ml-usuario-formulario>-->


      <app-ml-contenedor-campos-formulario
        [componente]="this"
      ></app-ml-contenedor-campos-formulario>
      <!--      <router-outlet></router-outlet>-->


      <!--      <app-ml-contenedor-campos-formulario (todosCamposValidos)="formularioValidoBusqueda($event)"-->
      <!--                                           (cambioCampo)="cambioCampoBusqueda($event)"-->
      <!--                                           (cambioAutocomplete)="formularioBusquedacambioCampoAutocomplete($event)"-->
      <!--                                           [vertical]="false"-->
      <!--                                           class="campo-formulario"-->
      <!--                                           tituloFormulario=""-->
      <!--                                           descripcionFormulario=""-->
      <!--                                           [camposFormularioFuncion]="camposFormularioBusqueda"-->
      <!--                                           [selectedStepperIndex]="stepperActualBusqueda"-->
      <!--                                           [gruposFormularioFuncion]="_sRutaEntrenadorService.gruposFormularioBusqueda"-->
      <!--                                           [componente]="this"-->
      <!--      ></app-ml-contenedor-campos-formulario>-->
      <div class="minimo-alto-contenedor">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</mat-drawer-container>
