/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import "node_modules/@manticore-labs/ng-2021/assets/estilos/main";
@import '~@manticore-labs/ng-2021/assets/estilos/formularios-v2/formularios';
@import 'app/estilos/main';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container{
  max-width: 90%;
}

.boton-archivos{
  width: 100% !important;
  margin: 2px !important;
}

button.p-button-warning.boton-editar-tabla.p-button.p-component.p-ripple {
  margin-right: 6%;
}

button.mat-menu-trigger.mat-icon-button.mat-button-base {
  border: 1px solid #364f67;
  border-radius: 7px;
  margin-top:2px;
  margin-bottom:2px;
}

.espaciador{
  background-color: #495057;
  width: 80%;
  height: 3px;
  margin-left: 10%;
  margin: 10px;
}
label#archivolabel {
  min-width: 100%;
  display: inherit;
}
.imagen-tabla{
  //width: 100%;
  max-height: 100px;
}
.imagen-icono{
  max-width: 20px;
  max-height: 20px;
}
mat-icon.mat-icon.notranslate.mat-icon-no-color > svg {
  //width: 45px;
  margin-top: -17px;
}

mat-icon.mat-icon.notranslate.account-circle {
  display: none;
}
img.account-circle {
  display: none;
}

//.p-component-overlay {
//  z-index: unset !important;
//}

.pais{
  width: 100%;
  max-height: 67px;
  max-width: 104px;
}
.texto-pais{
  font-size: 1rem;
  text-align: center;
  padding-top: 3px;
}
.p-autocomplete-panel{
  width: 100%;
}
.mat-dialog-content {
  padding-bottom: 140px !important;
}
