<ng-container *transloco="let t; read:objetoInternacionalizacion.nombreScopeTransloco">
  <app-migas-de-pan [migasDePan]="migasPan"
                    [classA]="'miga-pan-link'"
                    [classSpan]="'miga-pan'"
                    [habilitarInternacionalizacion]="true"
  ></app-migas-de-pan>
  <mat-card class="filtros">

    <div class="animate__animated animate__fadeInRight">
      <mlab-titulo-pantalla
        [titulo]="t('nombreRuta')"
        [descripcion]="t('descripcionRuta')"
        [imagen]="rutaImagenPrincipal"
        [ayuda]="t('ayudaRuta')"
      >
      </mlab-titulo-pantalla>
    </div>
    <div class="row mt-5">
      <div *ngFor="let opcion of opcionesMenu" class="col-md-4">
        <app-item-menu
          [texto]="t(opcion['texto'])"
          [descripcion]="t(opcion['descripcion'])"
          [imagen]="rutaImagenAssets + opcion['imagen']"
          [url]="opcion['url']"
        ></app-item-menu>
      </div>
    </div>
  </mat-card>
</ng-container>

