<ng-container *transloco="let l; read:objetoInternacionalizacion.nombreScopeTransloco">
  <app-migas-de-pan [migasDePan]="migasPan"
                    [classA]="'miga-pan-link'"
                    [classSpan]="'miga-pan'"
                    [habilitarInternacionalizacion]="true"
  ></app-migas-de-pan>
  <mat-card class="filtros">
    <div class="animate__animated animate__fadeInRight">
      <mlab-titulo-pantalla
        [titulo]="l('nombreRuta')"
        [descripcion]="l('descripcionRuta')"
        [imagen]="rutaImagenPrincipal"
        [ayuda]="l('ayudaRuta')"
      >
      </mlab-titulo-pantalla>
    </div>
    <div class="mat-elevation-z8">
      <div class="padding20px">
        <div class="row animate__animated animate__fadeIn">
          <div class="col-md-12">
            <app-ml-contenedor-campos-formulario (todosCamposValidos)="formularioValidoBusqueda($event)"
                                                 (cambioCampo)="cambioCampoBusqueda($event)"
                                                 (cambioAutocomplete)="formularioBusquedacambioCampoAutocomplete($event)"
                                                 [vertical]="false"
                                                 class="campo-formulario"
                                                 tituloFormulario="formularios.busqueda.formularioBusqueda.tituloFormulario"
                                                 descripcionFormulario="formularios.busqueda.formularioBusqueda.descripcionFormulario"
                                                 descripcionFormularioConGrupo="formularios.busqueda.formularioBusqueda.descripcionFormularioConGrupo"
                                                 tituloFormularioConGrupo="formularios.busqueda.formularioBusqueda.tituloFormularioConGrupo"
                                                 [habilitarInternacionalizacion]="true"
                                                 [objetoInternacionalizacion]="objetoInternacionalizacion"
                                                 [camposFormularioFuncion]="camposFormularioBusqueda"
                                                 [selectedStepperIndex]="stepperActualBusqueda"
                                                 [gruposFormularioFuncion]="_sRutaEntrenadorService.gruposFormularioBusqueda"
                                                 [componente]="this"
            ></app-ml-contenedor-campos-formulario>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <br>
            <button pButton
                    pRipple
                    type="button"
                    [label]="'generales.botones.buscar' | transloco"
                    class="p-button-raised p-button-primary"
                    icon="pi pi-search"
                    (click)="buscarConFiltros()"
            ></button>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>

    </div>

  </mat-card>
  <br>
  <mat-card>
    <div class="padding20px">
      <h1>{{l('tituloTabla')}}</h1>
      <p>{{l('descripcionTabla')}}</p>
      <div class="mat-elevation-z8">
        <p-table [columns]="columnasPrimeTable"
                 [value]="_sRutaEntrenadorService.arregloDatosFiltrado"
                 [rows]="_sRutaEntrenadorService.take"
                 [(first)]="_sRutaEntrenadorService.first"
                 styleClass="p-datatable-responsive-demo"
                 dataKey="id"
                 [customSort]="true"
                 (sortFunction)="_sRutaEntrenadorService.sortFirebase($event, this);"
        >

          <ng-template pTemplate="caption">
            <div class="p-d-flex table-header">
              <div class="row">
                <div class="col-lg-8">
                  <div color="accent">
                    <label class="form-label">{{'generales.filtro' | transloco}}:</label>
                    <input [placeholder]="l('filtroTabla')"
                           class="form-control"
                           [(ngModel)]="_sRutaEntrenadorService.filtroGeneralTabla"
                           (keyup)="_sRutaEntrenadorService.aplicarFiltro($event, ['nombre', 'pueblo', 'codigo'])"
                    >
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="paddingTop36px text-center">
                    <button (click)="_sRutaEntrenadorService.limpiarFiltroGeneral()"
                            *ngIf="_sRutaEntrenadorService.filtroGeneralTabla !== ''"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-times"
                            class="p-button-rounded p-button-help p-button-outlined"></button>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="float-end margen-boton-crear-tabla">
                    <button pButton
                            pRipple
                            [label]="'generales.botones.crear' | transloco"
                            icon="pi pi-plus"
                            class="p-button-success p-mr-2"
                            (click)="botonAceptarModalDisabled = true;"
                            (click)="_sRutaEntrenadorService.formularioEnModalActual = undefined;"
                            (click)="_sRutaEntrenadorService.camposSeleccionadosFormulario = {};"
                            (click)="_sRutaEntrenadorService.setearCamposRequeridosAFalso(this);"
                            (click)="_sRutaEntrenadorService.abrirModal(this,undefined)"
                    ></button>
                  </div>
                </div>

              </div>
            </div>
          </ng-template>

<!--          <ng-template pTemplate="colgroup" let-columns>-->
<!--            <colgroup>-->
<!--              <col *ngFor="let col of columns" [style.width]="col.tamanio">-->
<!--            </colgroup>-->
<!--          </ng-template>-->
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumn]="col.field">
                <div class="p-d-flex p-jc-between p-ai-center">
                  <div class="text-center">
                    {{l('cabeceraTabla.' + col.header)}}
                  </div>
                </div>
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-entrenador let-columns="columns" let-indice="rowIndex"
                       let-expandido="expanded">

            <!--        <tr-->
            <!--                *ngIf="_sRutaEntrenadorService.rowGroupMetadata[entrenador.campoRelacion.campoNombre].index === indice && _sRutaEntrenadorService.nombreAtributoAAgrupar.length > 0"-->
            <!--                class="p-selectable-row"-->
            <!--        >-->
            <!--          <td [colSpan]="columns.length">-->
            <!--            <span class="p-text-bold p-ml-2"> <strong class="color-grupo">CAMPO NOMBRE: </strong> <strong>{{entrenador.campoRelacion.campoNombre}}</strong></span>-->
            <!--          </td>-->
            <!--        </tr>-->

            <tr class="p-selectable-row">
              <td *ngFor="let col of columns" [ngClass]="{
           'valido-carta':entrenador.habilitado,
           'invalido-carta':!entrenador.habilitado }">

                <span class="p-column-title">{{l('cabeceraTabla.' + col.header)}}:</span>


                <div *ngIf="col.field !== 'id' && col.field !== 'sisHabilitado'">
                  <div [ngClass]="{
          'text-center':col.posicion === 'text-center',
          'text-left':col.posicion === 'text-left',
          'text-right':col.posicion === 'text-right'
          }">
                    {{col.fnMostrar ? col.fnMostrar(entrenador[col.field]) : entrenador[col.field]}}
                  </div>
                </div>
                <div *ngIf="col.field === 'sisHabilitado'">
                  <div class="text-center">
                    <br>
                    <p-inputSwitch [(ngModel)]="entrenador.habilitado"
                                   (onChange)="_sRutaEntrenadorService
                             .activarDesactivar(
                             $event,
                             entrenador.id,
                             entrenador.habilitado,
                             'sisHabilitado',
                             entrenador,
                             this
                             )"
                    ></p-inputSwitch>
                  </div>
                </div>
                <div *ngIf="col.field === 'id'">
                  <div class="text-center">
                    <br>
                    <p-button
                      [label]="'generales.botones.editar' | transloco"
                      [disabled]="!entrenador.habilitado"
                      icon="pi pi-pencil"
                      styleClass="p-button-warning boton-editar-tabla"
                      (click)="botonAceptarModalDisabled = true;"
                      (click)="_sRutaEntrenadorService.formularioEnModalActual = undefined;"
                      (click)="_sRutaEntrenadorService.camposSeleccionadosFormulario = {};"
                      (click)="_sRutaEntrenadorService.setearCamposRequeridosAFalso(this);"
                      (click)="abrirModal(entrenador)"
                    ></p-button>

                    <button mat-icon-button [matMenuTriggerFor]="opcionesRuta" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #opcionesRuta="matMenu">

                      <button *ngFor="let opcion of opciones"
                              mat-menu-item
                              [disabled]="!entrenador.habilitado"
                              (click)="_sRutaEntrenadorService.navegar(
                                           _router,
                                           opcion.ruta(entrenador.uid))"
                      >

                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <img [src]="rutaImagenAssets + opcion.rutaImagen"
                             alt=""
                             class="icono-navegacion"
                        > {{l(opcion.nombre)}}
                      </button>
                      <!--            <mat-icon>dialpad</mat-icon>-->
                      <!--            <span>Redial</span>-->
                      <!--          </button>-->
                      <!--          <button mat-menu-item disabled>-->
                      <!--            <mat-icon>voicemail</mat-icon>-->
                      <!--            <span>Check voice mail</span>-->
                      <!--          </button>-->
                      <!--          <button mat-menu-item>-->
                      <!--            <mat-icon>notifications_off</mat-icon>-->
                      <!--            <span>Disable alerts</span>-->
                      <!--          </button>-->
                    </mat-menu>
<!--                    <div *ngFor="let opcion of opciones">-->
<!--                      <br>-->
<!--                      <p-button-->
<!--                        [label]="opcion.nombre"-->
<!--                        [disabled]="!entrenador.habilitado"-->
<!--                        icon="pi pi-angle-double-right"-->
<!--                        styleClass="p-button-help"-->
<!--                        (click)="_sRutaEntrenadorService.navegar(-->
<!--                      _router,-->
<!--                      opcion.ruta(entrenador.uid)-->
<!--                    )"-->
<!--                      ></p-button>-->
<!--                    </div>-->
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>


          <!--        <ng-template pTemplate="rowexpansion" let-entrenador let-columns="columns">-->
          <!--          <tr class="detalle-tr p-selectable-row animate__animated animate__fadeIn">-->
          <!--            <td [colSpan]="columns.length" [ngClass]="{-->
          <!--           'valido-carta':entrenador.habilitado,-->
          <!--           'invalido-carta':!entrenador.habilitado }">-->
          <!--              <table class="detalle">-->
          <!--                <tr class="p-selectable-row detalle">-->
          <!--                  <th><strong>ATRIBUTO</strong></th>-->
          <!--                  <th><strong>VALOR</strong></th>-->
          <!--                </tr>-->
          <!--                <tr class="p-selectable-row detalle"-->
          <!--                    *ngFor="let valor of _sRutaEntrenadorService.generarObjeto(%= nombreCamel )">-->
          <!--                  <td><strong>{{valor.llave}}</strong></td>-->
          <!--                  <td>-->
          <!--                    &lt;!&ndash;  CAMPOS QUE USEN PIPES      &ndash;&gt   -->
          <!--                <span *ngIf="valor.nombreCampo === 'algunCampoQueQuireaUsarUnPipe'">-->
          <!--                {{valor.valor | currency}}-->
          <!--                </span>-->
          <!--                     &lt;!&ndash; TODOS LOS DEMAS CAMPOS       &ndash;&gt   -->
          <!--                    <span *ngIf="valor.nombreCampo !== 'algunCampoQueQuireaUsarUnPipe'">-->
          <!--                  {{valor.valor}}-->
          <!--                </span>-->

          <!--                  </td>-->
          <!--                </tr>-->
          <!--                     &lt;!&ndash; CAMPOS RELACIONADOS      &ndash;&gt   -->
          <!--                <tr class="p-selectable-row detalle">-->
          <!--                  <td><strong>Campo Relacionado</strong></td>-->
          <!--                  <td>{{entrenador.campoRelacion.campoNombre}}</td>-->
          <!--                </tr>-->
          <!--              </table>-->
          <!--            </td>-->
          <!--          </tr>-->

          <!--        </ng-template>-->
          <!--        -->

          <ng-template pTemplate="summary">
            <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4 text-center">

                <div *ngIf="_sRutaEntrenadorService.yaNoHayMasRegistros">
                  <p class="text-center bold">{{'generales.otros.sinRegistros' | transloco}}</p>
                </div>
                <div *ngIf="!_sRutaEntrenadorService.yaNoHayMasRegistros">
                  <button pButton
                          pRipple
                          [label]="'generales.cargarMas' | transloco"
                          icon="pi pi-download"
                          class="p-button-help p-mr-2"
                          (click)="_sRutaEntrenadorService.limpiarFiltroGeneral()"
                          (click)="buscarSuscrito()"
                  >
                  </button>
                </div>


              </div>
              <div class="col-sm-4"></div>
            </div>
          </ng-template>
        </p-table>

      </div>
    </div>
  </mat-card>

  <br>
  <br>

</ng-container>

