





<ng-container *transloco="let l; read:objetoInternacionalizacion.nombreScopeTransloco">
  <app-migas-de-pan [migasDePan]="migasPan"
                    [classA]="'miga-pan-link'"
                    [classSpan]="'miga-pan'"
                    [habilitarInternacionalizacion]="true"
  ></app-migas-de-pan>
  <mat-card class="filtros">

    <div class="animate__animated animate__fadeInRight">
      <mlab-titulo-pantalla
              [titulo]="l('nombreRuta')"
              [descripcion]="l('descripcionRuta')"
              [imagen]="rutaImagenPrincipal"
              [ayuda]="l('ayudaRuta')"
      >
      </mlab-titulo-pantalla>
    </div>

    <div class="mat-elevation-z8">
      <div class="padding20px">
        <h1>Trabajador</h1>

        <div class="row animate__animated animate__fadeIn">
          <div class="col-md-12">
            <app-ml-contenedor-campos-formulario (todosCamposValidos)="formularioValidoBusqueda($event)"
                                                 (cambioCampo)="cambioCampoBusqueda($event)"
                                                 (cambioAutocomplete)="formularioBusquedacambioCampoAutocomplete($event)"
                                                 [vertical]="false"
                                                 class="campo-formulario"
                                                 id="filtro-trabajador"
                                                 tituloFormulario="formularios.busqueda.formularioBusqueda.tituloFormulario"
                                                 descripcionFormulario="formularios.busqueda.formularioBusqueda.descripcionFormulario"
                                                 descripcionFormularioConGrupo="formularios.busqueda.formularioBusqueda.descripcionFormularioConGrupo"
                                                 tituloFormularioConGrupo="formularios.busqueda.formularioBusqueda.tituloFormularioConGrupo"
                                                 [habilitarInternacionalizacion]="true"
                                                 [objetoInternacionalizacion]="objetoInternacionalizacion"
                                                 [camposFormularioFuncion]="camposFormularioBusqueda"
                                                 [selectedStepperIndex]="stepperActualBusqueda"
                                                 [gruposFormularioFuncion]="_sRutaTrabajadorService.gruposFormularioBusqueda"
                                                 [componente]="this"
            ></app-ml-contenedor-campos-formulario>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <br>
            <button pButton
                    pRipple
                    type="button"
                    [label]="'generales.botones.buscar' | transloco"
                    id="busqueda-filtros-trabajador"
                    class="p-button-raised p-button-primary"
                    icon="pi pi-search"
                    (click)="buscarConFiltros()"
            ></button>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>

    </div>

  </mat-card>
  <br>
  <mat-card>
    <div class="padding20px">
      <h1>{{l('tituloTabla')}}</h1>
      <p>{{l('descripcionTabla')}}</p>
      <div class="mat-elevation-z8">
        
        <p-table [columns]="columnasPrimeTable"
                 [value]="_sRutaTrabajadorService.arregloDatosFiltrado"
                 [lazy]="true"
                 (onLazyLoad)="_sRutaTrabajadorService.cargarMasDatos($event, this)"
                 [paginator]="true"
                 [rows]="_sRutaTrabajadorService.take"
                 [totalRecords]="_sRutaTrabajadorService.totalRecords"
                 [rowsPerPageOptions]="_sRutaTrabajadorService.registrosPorPagina"
                 [(first)]="_sRutaTrabajadorService.first"
                 styleClass="p-datatable-responsive-demo"
                 dataKey="id"
                 [customSort]="true"
        >
          

          

            <ng-template pTemplate="caption">
              <div class="p-d-flex table-header">
                <div class="row">
                  <div class="col-sm-8">
                    <div color="accent">
                      <label class="form-label">{{'generales.filtro' | transloco}}:</label>
                      <input [placeholder]="l('filtroTabla')"
                             class="form-control"
                             [(ngModel)]="_sRutaTrabajadorService.filtroGeneralTabla"
                             (keyup)="_sRutaTrabajadorService.aplicarFiltro($event, [])"
                      >
                    </div>
                  </div>
                  <!--              Seccion para campos autogenerados para mostrar table y formulario-->

                  <!--              <div class="col-sm-2">-->
                  <!--                <div class="float-end margen-boton-crear-tabla">-->
                  <!--                  <button pButton-->
                  <!--                          pRipple-->
                  <!--                          label="Previsualizar tabla"-->
                  <!--                          icon="pi pi-plus"-->
                  <!--                          class="p-button-primary p-mr-2"-->
                  <!--                          (click)="abrirModalAutogenerados(true)"-->
                  <!--                  ></button>-->
                  <!--                </div>-->
                  <!--              </div>-->
                  <!--              <div class="col-sm-2">-->
                  <!--                <div class="float-end margen-boton-crear-tabla">-->
                  <!--                  <button pButton-->
                  <!--                          pRipple-->
                  <!--                          label="Actualizar Nuevos Campos"-->
                  <!--                          icon="pi pi-plus"-->
                  <!--                          class="p-button-primary p-mr-2"-->
                  <!--                          (click)="abrirModalAutogenerados()"-->
                  <!--                  ></button>-->
                  <!--                </div>-->
                  <!--              </div>-->
                  <div class="col-sm-2">
                    <div class="paddingTop36px text-center">
                      <button (click)="_sRutaTrabajadorService.limpiarFiltroGeneral()"
                              *ngIf="_sRutaTrabajadorService.filtroGeneralTabla !== ''"
                              pButton
                              pRipple
                              type="button"
                              icon="pi pi-times"
                              class="p-button-rounded p-button-help p-button-outlined"></button>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="float-end margen-boton-crear-tabla"  *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Crear')">
                      <button pButton
                              pRipple
                              [label]="'generales.botones.crear' | transloco"

                              id="crear-trabajador"
                              icon="pi pi-plus"
                              class="p-button-success p-mr-2"
                              (click)="botonAceptarModalDisabled = true;"
                              (click)="_sRutaTrabajadorService.formularioEnModalActual = undefined;"
                              (click)="_sRutaTrabajadorService.camposSeleccionadosFormulario = {};"
                              (click)="_sRutaTrabajadorService.setearCamposRequeridosAFalso(this);"
                              (click)="_sRutaTrabajadorService.abrirModal(this,undefined)"
                      ></button>
                    </div>
                  </div>

                </div>
              </div>
            </ng-template>

            <!--            <ng-template pTemplate="colgroup" let-columns>-->
            <!--              <colgroup>-->
            <!--                <col *ngFor="let col of columns" [style.width]="col.tamanio">-->
            <!--              </colgroup>-->
            <!--            </ng-template>-->
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumn]="col.field">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    <div class="text-center">
                      {{l('cabeceraTabla.' + col.header)}}
                    </div>
                  </div>
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-trabajador let-columns="columns" let-indice="rowIndex" let-expandido="expanded">

            <!--        <tr-->
            <!--                *ngIf="_sRutaTrabajadorService.rowGroupMetadata[trabajador.campoRelacion.campoNombre].index === indice && _sRutaTrabajadorService.nombreAtributoAAgrupar.length > 0"-->
            <!--                class="p-selectable-row"-->
            <!--        >-->
            <!--          <td [colSpan]="columns.length">-->
            <!--            <span class="p-text-bold p-ml-2"> <strong class="color-grupo">{{l('cabeceraTabla.nombreGrupo')}}: </strong> <strong>{{trabajador.campoRelacion.campoNombre}}</strong></span>-->
            <!--          </td>-->
            <!--        </tr>-->

            <tr class="p-selectable-row" [id]="'tr-' + trabajador.id">
              <td *ngFor="let col of columns"  [ngClass]="{
           'valido-carta':trabajador.habilitado,
           'invalido-carta':!trabajador.habilitado }">


                <span class="p-column-title">{{l('cabeceraTabla.' + col.header)}}:</span>

                <div *ngIf="col.field !== 'id' && col.field !== 'sisHabilitado'">
                  <div [ngClass]="{
          'text-center':col.posicion === 'text-center',
          'text-left':col.posicion === 'text-left',
          'text-right':col.posicion === 'text-right'
          }">
                    {{col.fnMostrar ? col.fnMostrar(trabajador[col.field]) : trabajador[col.field]}}
                  </div>
                </div>

                <!--                <div *ngIf="col.header === 'sis_IM'" class="text-center">-->
                <!--                  <div *ngIf="trabajador.sis_IM">-->
                <!--                    <p *ngIf="trabajador.sis_IM.nombre && trabajador.sis_IM.nombre !== 'undefined'">-->
                <!--                      <strong>{{trabajador.sis_IM.nombre}}</strong> {{trabajador.sis_IM.descripcion}}</p>-->
                <!--                    <p><strong>{{g('generales.archivos.imagen.nombre')}}:</strong></p>-->
                <!--                    <img class="img-fluid imagen-tabla" [src]="col.fnMostrarImagen(trabajador)" alt="">-->
                <!--                    <p><strong>{{g('generales.archivos.imagen.mensajeNombre')}}-->
                <!--                      :</strong> {{trabajador.sis_IM.originalname}}</p>-->
                <!--                  </div>-->
                <!--                  <div *ngIf="!trabajador.sis_IM">-->
                <!--                    <p><strong>{{g('generales.archivos.imagen.nombre')}}:</strong></p>-->
                <!--                    <img class="img-fluid imagen-tabla" src="assets/img/comun/imagen.svg" alt="">-->
                <!--                    <p><strong>{{g('generales.archivos.imagen.mensajeNombre')}}-->
                <!--                      :</strong> {{g('generales.archivos.imagen.mensajeVacio')}}</p>-->
                <!--                  </div>-->
                <!--                  <div class="espaciador"></div>-->
                <!--                  <div *ngIf="trabajador.sis_AR">-->
                <!--                    <p *ngIf="trabajador.sis_AR.nombre  && trabajador.sis_AR.nombre !== 'undefined'">-->
                <!--                      <strong>{{trabajador.sis_AR.nombre}}</strong> {{trabajador.sis_AR.descripcion}}</p>-->
                <!--                    <div class="text-center">-->
                <!--                      <strong>{{g('generales.archivos.archivo.nombre')}}:</strong> {{trabajador.sis_AR.mimetype}} <img-->
                <!--                            class="imagen-icono" src="assets/libreria/icono-archivo.svg" alt="">-->
                <!--                    </div>-->
                <!--                    <p><strong>{{g('generales.archivos.archivo.mensajeNombre')}}-->
                <!--                      :</strong> {{trabajador.sis_AR.originalname}}</p>-->

                <!--                    <div>-->
                <!--                      <br>-->
                <!--                      <p-button-->
                <!--                              [label]="g('generales.archivos.archivo.botonDescargarArchivo')"-->
                <!--                              [disabled]="!trabajador.habilitado"-->
                <!--                              icon="pi pi-angle-double-right"-->
                <!--                              styleClass="p-button-help"-->
                <!--                              (click)="_sRutaTrabajadorService.descargarArchivo(trabajador.sis_AR)"-->
                <!--                      ></p-button>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </div>-->

                <div *ngIf="col.field === 'sisHabilitado'">
                  <div class="text-center" *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'EditarHabilitado')">
                    <br>
                    <p-inputSwitch [(ngModel)]="trabajador.habilitado"
                                   (onChange)="_sRutaTrabajadorService
                             .activarDesactivar(
                             $event,
                             trabajador.id,
                             trabajador.habilitado,
                             'sisHabilitado',
                             trabajador,
                             this
                             )"
                    ></p-inputSwitch>
                  </div>
                </div>
                <div *ngIf="col.field === 'id'">
                  <!--                  <div class="row">-->
                  <!--                    <div class="col-sm-6">-->
<!--                                        <p-button-->
<!--                                                [disabled]="!trabajador.habilitado"-->
<!--                                                *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')"-->
<!--                                                icon="pi pi-image"-->
<!--                                                styleClass="p-button-help boton-archivos"-->
<!--                                                (click)="abrirFormularioCrearArchivo('IM', trabajador)"-->
<!--                                        ></p-button>-->
<!--                                      </div>-->
<!--                                      <div class="col-sm-6">-->
<!--                                        <p-button-->
<!--                                                [disabled]="!trabajador.habilitado"-->
<!--                                                *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')"-->
<!--                                                icon="pi pi-file"-->
<!--                                                styleClass="p-button-help boton-archivos"-->
<!--                                                (click)="abrirFormularioCrearArchivo('AR', trabajador)"-->
<!--                                        ></p-button>-->
                  <!--                    </div>-->
                  <!--                  </div>-->

                  <div class="text-center">
                    <br>
                    <p-button
                            [label]="'generales.botones.editar' | transloco"
                            *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')"
                            [id]="'tr' + trabajador.id +'_editar'"
                            [disabled]="!trabajador.habilitado"
                            icon="pi pi-pencil"
                            styleClass="p-button-warning"
                            (click)="botonAceptarModalDisabled = true;"
                            (click)="_sRutaTrabajadorService.formularioEnModalActual = undefined;"
                            (click)="_sRutaTrabajadorService.camposSeleccionadosFormulario = {};"
                            (click)="_sRutaTrabajadorService.setearCamposRequeridosAFalso(this);"
                            (click)="abrirModal(trabajador)"
                    ></p-button>
                    <!--                    <button mat-icon-button [matMenuTriggerFor]="opcionesRuta"-->
                    <!--                            aria-label="Example icon-button with a menu">-->
                    <!--                      <mat-icon>more_vert</mat-icon>-->
                    <!--                    </button>-->
<!--                                        <mat-menu #opcionesRuta="matMenu">-->
<!--                                          <div *ngFor="let opcion of opciones">-->
<!--                                            <div *ngIf="opcion.permisoEditar ? _seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar') : true">-->

<!--                                              <button-->
<!--                                                      mat-menu-item-->
<!--                                                      [disabled]="!trabajador.habilitado"-->
<!--                                                      (click)="_sRutaTrabajadorService.navegar(-->
<!--                                                               _router,-->
<!--                                                               opcion.ruta(trabajador.id))"-->
<!--                                              >-->

<!--                                                <mat-icon>keyboard_arrow_right</mat-icon>-->
<!--                                                <img [src]="rutaImagenAssets + opcion.rutaImagen"-->
<!--                                                     alt=""-->
<!--                                                     class="icono-navegacion"-->
<!--                                                > {{l(opcion.nombre)}}-->
<!--                                              </button>-->
<!--                                              -->
<!--                                            </div>-->
<!--                                          </div>-->
<!--                                        </mat-menu>-->
                  </div>
                  <!--                  <div>-->
                  <!--                    <br>-->
                  <!--                    <p-button-->
                  <!--                            [label]="'generales.botones.subirImagen' | transloco"-->
                  <!--                            [disabled]="!trabajador.habilitado"-->
                  <!--                            icon="pi pi-angle-double-right"-->
                  <!--                            styleClass="p-button-help"-->
                  <!--                            (click)="abrirFormularioCrearArchivo('imagen', trabajador)"-->
                  <!--                    ></p-button>-->
                  <!--                  </div>-->
                  <!--                  <div>-->
                  <!--                    <br>-->
                  <!--                    <p-button-->
                  <!--                            [label]="'generales.botones.subirArchivo' | transloco"-->
                  <!--                            [disabled]="!trabajador.habilitado"-->
                  <!--                            icon="pi pi-angle-double-right"-->
                  <!--                            styleClass="p-button-help"-->
                  <!--                            (click)="abrirFormularioCrearArchivo('archivo', trabajador)"-->
                  <!--                    ></p-button>-->
                  <!--                  </div>-->
                  <!--                  <div>-->
                  <!--                    <br>-->
                  <!--                    <p-button-->
                  <!--                            [label]="'generales.botones.gestionarImagenes' | transloco"-->
                  <!--                            [disabled]="!trabajador.habilitado"-->
                  <!--                            icon="pi pi-angle-double-right"-->
                  <!--                            styleClass="p-button-help"-->
                  <!--                            (click)="irRutaArchivos('imagen', trabajador)"-->
                  <!--                    ></p-button>-->
                  <!--                  </div>-->
                  <!--                  <div>-->
                  <!--                    <br>-->
                  <!--                    <p-button-->
                  <!--                            [label]="'generales.botones.gestionarArchivos' | transloco"-->
                  <!--                            [disabled]="!trabajador.habilitado"-->
                  <!--                            icon="pi pi-angle-double-right"-->
                  <!--                            styleClass="p-button-help"-->
                  <!--                            (click)="irRutaArchivos('archivo', trabajador)"-->
                  <!--                    ></p-button>-->
                  <!--                  </div>-->
                </div>
              </td>
            </tr>
            </ng-template>


            <!--        <ng-template pTemplate="rowexpansion" let-trabajador let-columns="columns">-->
            <!--          <tr class="detalle-tr p-selectable-row animate__animated animate__fadeIn">-->
            <!--            <td [colSpan]="columns.length" [ngClass]="{-->
            <!--           'valido-carta':trabajador.habilitado,-->
            <!--           'invalido-carta':!trabajador.habilitado }">-->
            <!--              <table class="detalle">-->
            <!--                <tr class="p-selectable-row detalle">-->
            <!--                  <th><strong>ATRIBUTO</strong></th>-->
            <!--                  <th><strong>VALOR</strong></th>-->
            <!--                </tr>-->
            <!--                <tr class="p-selectable-row detalle"-->
            <!--                    *ngFor="let valor of _sRutaTrabajadorService.generarObjeto(trabajador)">-->
            <!--                  <td><strong>{{valor.llave}}</strong></td>-->
            <!--                  <td>-->
            <!--                    &lt;!&ndash;  CAMPOS QUE USEN PIPES      &ndash;&gt   -->
            <!--                <span *ngIf="valor.nombreCampo === 'algunCampoQueQuireaUsarUnPipe'">-->
            <!--                {{valor.valor | currency}}-->
            <!--                </span>-->
            <!--                     &lt;!&ndash; TODOS LOS DEMAS CAMPOS       &ndash;&gt   -->
            <!--                    <span *ngIf="valor.nombreCampo !== 'algunCampoQueQuireaUsarUnPipe'">-->
            <!--                  {{valor.valor}}-->
            <!--                </span>-->

            <!--                  </td>-->
            <!--                </tr>-->
            <!--                     &lt;!&ndash; CAMPOS RELACIONADOS      &ndash;&gt   -->
            <!--                <tr class="p-selectable-row detalle">-->
            <!--                  <td><strong>Campo Relacionado</strong></td>-->
            <!--                  <td>{{trabajador.campoRelacion.campoNombre}}</td>-->
            <!--                </tr>-->
            <!--              </table>-->
            <!--            </td>-->
            <!--          </tr>-->

            <!--        </ng-template>-->
            <!--        -->

            <ng-template pTemplate="summary">
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">
                  
                  {{_sRutaTrabajadorService.registrosPagina}}

                  {{'generales.registrosDeUnTotalDe' | transloco}}

                  {{_sRutaTrabajadorService.totalRecords}}

                  {{'generales.registros' | transloco}}
                  
                  

                </div>
                <div class="col-sm-4"></div>
              </div>
            </ng-template>
          </p-table>

      </div>
    </div>
  </mat-card>

  <br>
  <br>
</ng-container>





