.mat-dialog-content {
  padding-top: 30px !important;
  border-top: 1px solid #e2e2e6;
  border-bottom: 1px solid #e2e2e6;
}

.imagen-entidad-modal {
  max-width: 30px;
  max-height: 30px;
  float: left;
  margin-right: 25px;
}

.botones-modal-aceptar:not(.mat-button-disabled) {
  background: #689F38 !important;
  border: 1px solid #689F38 !important;
}

.botones-modal-editar:not(.mat-button-disabled) {
  background: #FBC02D !important;
  border: 1px solid #eaaf20 !important;
  color: #474747;
}

.mat-mini-fab.mat-primary {
  background-color: #ffffff;
  color: #474747;
}

.icono-operacion{
  transform: translateY(4px);
  padding-left: 10px;
}
.icono-operacion-crear{
  color: #689F38 !important;
}
.icono-operacion-editar{
  color: #FBC02D !important;
}
