<ng-container *transloco="let g;">

  <ng-container *transloco="let l; read:objetoInternacionalizacion.nombreScopeTransloco">
    <app-migas-de-pan [migasDePan]="migasPan"
                      [classA]="'miga-pan-link'"
                      [classSpan]="'miga-pan'"
                      [habilitarInternacionalizacion]="true"
    ></app-migas-de-pan>
    <mat-card class="filtros">
      <div class="animate__animated animate__fadeInRight">
        <mlab-titulo-pantalla
          [titulo]="l('nombreRuta')"
          [descripcion]="l('descripcionRuta')"
          [imagen]="rutaImagenPrincipal"
          [ayuda]="l('ayudaRuta')"
        >
        </mlab-titulo-pantalla>
      </div>
      <div class="mat-elevation-z8">
        <div class="padding20px">
          <div class="row animate__animated animate__fadeIn">
            <div class="col-md-12">
              <app-ml-contenedor-campos-formulario (todosCamposValidos)="formularioValidoBusqueda($event)"
                                                   (cambioCampo)="cambioCampoBusqueda($event)"
                                                   (cambioAutocomplete)="formularioBusquedacambioCampoAutocomplete($event)"
                                                   [vertical]="false"
                                                   class="campo-formulario"
                                                   tituloFormulario="formularios.busqueda.formularioBusqueda.tituloFormulario"
                                                   descripcionFormulario="formularios.busqueda.formularioBusqueda.descripcionFormulario"
                                                   descripcionFormularioConGrupo="formularios.busqueda.formularioBusqueda.descripcionFormularioConGrupo"
                                                   tituloFormularioConGrupo="formularios.busqueda.formularioBusqueda.tituloFormularioConGrupo"
                                                   [habilitarInternacionalizacion]="true"
                                                   [objetoInternacionalizacion]="objetoInternacionalizacion"
                                                   [camposFormularioFuncion]="camposFormularioBusqueda"
                                                   [selectedStepperIndex]="stepperActualBusqueda"
                                                   [gruposFormularioFuncion]="_sRutaEntrenadorService.gruposFormularioBusqueda"
                                                   [componente]="this"
              ></app-ml-contenedor-campos-formulario>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <br>
              <button pButton
                      pRipple
                      type="button"
                      [label]="'generales.botones.buscar' | transloco"
                      class="p-button-raised p-button-primary"
                      icon="pi pi-search"
                      (click)="buscarConFiltros()"
              ></button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>

      </div>

    </mat-card>
    <br>
    <mat-card>
      <div class="padding20px">
        <h1>{{l('tituloTabla')}}</h1>
        <p>{{l('descripcionTabla')}}</p>
        <div class="mat-elevation-z8">
          <p-table [columns]="columnasPrimeTable"
                   [value]="_sRutaEntrenadorService.arregloDatosFiltrado"
                   [lazy]="true"
                   (onLazyLoad)="_sRutaEntrenadorService.cargarMasDatos($event, this)"
                   [paginator]="true"
                   [rows]="_sRutaEntrenadorService.take"
                   [totalRecords]="_sRutaEntrenadorService.totalRecords"
                   [rowsPerPageOptions]="_sRutaEntrenadorService.registrosPorPagina"
                   [(first)]="_sRutaEntrenadorService.first"
                   dataKey="id"
                   styleClass="p-datatable-responsive-demo"
                   [customSort]="true"
          >

            <ng-template pTemplate="caption">
              <div class="p-d-flex table-header">
                <div class="row">
                  <div class="col-sm-8">
                    <div color="accent">
                      <label class="form-label">{{'generales.filtro' | transloco}}:</label>
                      <input [placeholder]="l('filtroTabla')"
                             class="form-control"
                             [(ngModel)]="_sRutaEntrenadorService.filtroGeneralTabla"
                             (keyup)="_sRutaEntrenadorService.aplicarFiltro($event, ['nombre', 'codigo', 'pueblo'])"
                      >
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="paddingTop36px text-center">
                      <button (click)="_sRutaEntrenadorService.limpiarFiltroGeneral()"
                              *ngIf="_sRutaEntrenadorService.filtroGeneralTabla !== ''"
                              pButton
                              pRipple
                              type="button"
                              icon="pi pi-times"
                              class="p-button-rounded p-button-help p-button-outlined"></button>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="float-end margen-boton-crear-tabla" *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Crear')">
                      <button pButton
                              pRipple
                              [label]="'generales.botones.crear' | transloco"
                              icon="pi pi-plus"
                              class="p-button-success p-mr-2"
                              (click)="botonAceptarModalDisabled = true;"
                              (click)="_sRutaEntrenadorService.formularioEnModalActual = undefined;"
                              (click)="_sRutaEntrenadorService.camposSeleccionadosFormulario = {};"
                              (click)="_sRutaEntrenadorService.setearCamposRequeridosAFalso(this);"
                              (click)="_sRutaEntrenadorService.abrirModal(this,undefined)"
                      ></button>
                    </div>
                  </div>

                </div>
              </div>
            </ng-template>

            <!--          <ng-template pTemplate="colgroup" let-columns>-->
            <!--            <colgroup>-->
            <!--              <col *ngFor="let col of columns" [style.width]="col.tamanio">-->
            <!--            </colgroup>-->
            <!--          </ng-template>-->
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumn]="col.field">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    <div class="text-center">
                      {{l('cabeceraTabla.' + col.header)}}
                    </div>
                  </div>
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-entrenador let-columns="columns" let-indice="rowIndex"
                         let-expandido="expanded">

              <!--        <tr-->
              <!--                *ngIf="_sRutaEntrenadorService.rowGroupMetadata[entrenador.campoRelacion.campoNombre].index === indice && _sRutaEntrenadorService.nombreAtributoAAgrupar.length > 0"-->
              <!--                class="p-selectable-row"-->
              <!--        >-->
              <!--          <td [colSpan]="columns.length">-->
              <!--            <span class="p-text-bold p-ml-2"> <strong class="color-grupo">CAMPO NOMBRE: </strong> <strong>{{entrenador.campoRelacion.campoNombre}}</strong></span>-->
              <!--          </td>-->
              <!--        </tr>-->

              <tr class="p-selectable-row">
                <td *ngFor="let col of columns" [ngClass]="{
           'valido-carta':entrenador.habilitado,
           'invalido-carta':!entrenador.habilitado }">

                  <span class="p-column-title">{{l('cabeceraTabla.' + col.header)}}:</span>

                  <div *ngIf="col.field !== 'id' && col.field !== 'sisHabilitado'  && col.header !== 'sis_IM'">
                    <div [ngClass]="{
          'text-center':col.posicion === 'text-center',
          'text-left':col.posicion === 'text-left',
          'text-right':col.posicion === 'text-right'
          }">
                      {{col.fnMostrar ? col.fnMostrar(entrenador[col.field]) : entrenador[col.field]}}
                    </div>
                  </div>

                  <div *ngIf="col.header === 'sis_IM'" class="text-center">
                    <div *ngIf="entrenador.sis_IM">
                      <p *ngIf="entrenador.sis_IM.nombre && entrenador.sis_IM.nombre !== 'undefined'">
                        <strong>{{entrenador.sis_IM.nombre}}</strong> {{entrenador.sis_IM.descripcion}}</p>
                      <p><strong>{{g('generales.archivos.imagen.nombre')}}:</strong></p>
                      <img class="img-fluid imagen-tabla" [src]="col.fnMostrarImagen(entrenador)" alt="">
                      <p><strong>{{g('generales.archivos.imagen.mensajeNombre')}}
                        :</strong> {{entrenador.sis_IM.originalname}}</p>
                    </div>
                    <div *ngIf="!entrenador.sis_IM">
                      <p><strong>{{g('generales.archivos.imagen.nombre')}}:</strong></p>
                      <img class="img-fluid imagen-tabla" src="assets/img/comun/imagen.svg" alt="">
                      <p><strong>{{g('generales.archivos.imagen.mensajeNombre')}}
                        :</strong> {{g('generales.archivos.imagen.mensajeVacio')}}</p>
                    </div>
                    <div class="espaciador"></div>
                    <div *ngIf="entrenador.sis_AR">
                      <p *ngIf="entrenador.sis_AR.nombre  && entrenador.sis_AR.nombre !== 'undefined'">
                        <strong>{{entrenador.sis_AR.nombre}}</strong> {{entrenador.sis_AR.descripcion}}</p>
                      <div class="text-center">
                        <strong>{{g('generales.archivos.archivo.nombre')}}:</strong> {{entrenador.sis_AR.mimetype}} <img
                        class="imagen-icono" src="assets/libreria/icono-archivo.svg" alt="">
                      </div>
                      <p><strong>{{g('generales.archivos.archivo.mensajeNombre')}}
                        :</strong> {{entrenador.sis_AR.originalname}}</p>

                      <div>
                        <br>
                        <p-button
                          [label]="g('generales.archivos.archivo.botonDescargarArchivo')"
                          [disabled]="!entrenador.habilitado"
                          icon="pi pi-angle-double-right"
                          styleClass="p-button-help"
                          (click)="_sRutaEntrenadorService.descargarArchivo(entrenador.sis_AR)"
                        ></p-button>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="col.field === 'sisHabilitado'">
                    <div class="text-center" *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'EditarHabilitado')">
                      <br>
                      <p-inputSwitch [(ngModel)]="entrenador.habilitado"
                                     (onChange)="_sRutaEntrenadorService
                             .activarDesactivar(
                             $event,
                             entrenador.id,
                             entrenador.habilitado,
                             'sisHabilitado',
                             entrenador,
                             this
                             )"
                      ></p-inputSwitch>
                    </div>
                  </div>
                  <div *ngIf="col.field === 'id'">


                    <div class="row">
                      <div class="col-sm-6">
                        <p-button
                          [disabled]="!entrenador.habilitado"
                          *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')"
                          icon="pi pi-image"
                          styleClass="p-button-help boton-archivos"
                          (click)="abrirFormularioCrearArchivo('IM', entrenador)"
                        ></p-button>
                      </div>
                      <div class="col-sm-6">
                        <p-button
                          [disabled]="!entrenador.habilitado"
                          *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')"
                          icon="pi pi-file"
                          styleClass="p-button-help boton-archivos"
                          (click)="abrirFormularioCrearArchivo('AR', entrenador)"
                        ></p-button>
                      </div>
                    </div>
                    <div class="text-center">
                      <br>
                      <p-button
                        [label]="'generales.botones.editar' | transloco"
                        *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')"
                        [disabled]="!entrenador.habilitado"
                        icon="pi pi-pencil"
                        styleClass="p-button-warning boton-editar-tabla"
                        (click)="botonAceptarModalDisabled = true;"
                        (click)="_sRutaEntrenadorService.formularioEnModalActual = undefined;"
                        (click)="_sRutaEntrenadorService.camposSeleccionadosFormulario = {};"
                        (click)="_sRutaEntrenadorService.setearCamposRequeridosAFalso(this);"
                        (click)="_sRutaEntrenadorService.abrirModal(
                this,
                entrenador
                )"
                      ></p-button>
                      <div
                        *ngIf="_seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar')">

                      </div>
                      <button mat-icon-button [matMenuTriggerFor]="opcionesRuta"
                              aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #opcionesRuta="matMenu">
                        <div  *ngFor="let opcion of opciones">
                          <div *ngIf="opcion.permisoEditar ? _seguridadService.encontrarPermisoPorNombre(nombreRuta + 'Editar') : true">
                            <button
                              mat-menu-item
                              [disabled]="!entrenador.habilitado"
                              (click)="_sRutaEntrenadorService.navegar(
                                           _router,
                                           opcion.ruta(entrenador.id))"
                            >

                              <mat-icon>keyboard_arrow_right</mat-icon>
                              <img [src]="rutaImagenAssets + opcion.rutaImagen"
                                   alt=""
                                   class="icono-navegacion"
                              > {{l(opcion.nombre)}}
                            </button>
                          </div>
                        </div>

                        <!--            <mat-icon>dialpad</mat-icon>-->
                        <!--            <span>Redial</span>-->
                        <!--          </button>-->
                        <!--          <button mat-menu-item disabled>-->
                        <!--            <mat-icon>voicemail</mat-icon>-->
                        <!--            <span>Check voice mail</span>-->
                        <!--          </button>-->
                        <!--          <button mat-menu-item>-->
                        <!--            <mat-icon>notifications_off</mat-icon>-->
                        <!--            <span>Disable alerts</span>-->
                        <!--          </button>-->
                      </mat-menu>

                      <!--                    <div *ngFor="let opcion of opciones">-->
                      <!--                      <br>-->
                      <!--                      <p-button-->
                      <!--                        [label]="opcion.nombre"-->
                      <!--                        [disabled]="!entrenador.habilitado"-->
                      <!--                        icon="pi pi-angle-double-right"-->
                      <!--                        styleClass="p-button-help"-->
                      <!--                        (click)="_sRutaEntrenadorService.navegar(-->
                      <!--                  _router,-->
                      <!--                  opcion.ruta(entrenador.id)-->
                      <!--                )"-->
                      <!--                      ></p-button>-->
                      <!--                    </div>-->
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>


            <!--        <ng-template pTemplate="rowexpansion" let-entrenador let-columns="columns">-->
            <!--          <tr class="detalle-tr p-selectable-row animate__animated animate__fadeIn">-->
            <!--            <td [colSpan]="columns.length" [ngClass]="{-->
            <!--           'valido-carta':entrenador.habilitado,-->
            <!--           'invalido-carta':!entrenador.habilitado }">-->
            <!--              <table class="detalle">-->
            <!--                <tr class="p-selectable-row detalle">-->
            <!--                  <th><strong>ATRIBUTO</strong></th>-->
            <!--                  <th><strong>VALOR</strong></th>-->
            <!--                </tr>-->
            <!--                <tr class="p-selectable-row detalle"-->
            <!--                    *ngFor="let valor of _sRutaEntrenadorService.generarObjeto(%= nombreCamel )">-->
            <!--                  <td><strong>{{valor.llave}}</strong></td>-->
            <!--                  <td>-->
            <!--                    &lt;!&ndash;  CAMPOS QUE USEN PIPES      &ndash;&gt   -->
            <!--                <span *ngIf="valor.nombreCampo === 'algunCampoQueQuireaUsarUnPipe'">-->
            <!--                {{valor.valor | currency}}-->
            <!--                </span>-->
            <!--                     &lt;!&ndash; TODOS LOS DEMAS CAMPOS       &ndash;&gt   -->
            <!--                    <span *ngIf="valor.nombreCampo !== 'algunCampoQueQuireaUsarUnPipe'">-->
            <!--                  {{valor.valor}}-->
            <!--                </span>-->

            <!--                  </td>-->
            <!--                </tr>-->
            <!--                     &lt;!&ndash; CAMPOS RELACIONADOS      &ndash;&gt   -->
            <!--                <tr class="p-selectable-row detalle">-->
            <!--                  <td><strong>Campo Relacionado</strong></td>-->
            <!--                  <td>{{entrenador.campoRelacion.campoNombre}}</td>-->
            <!--                </tr>-->
            <!--              </table>-->
            <!--            </td>-->
            <!--          </tr>-->

            <!--        </ng-template>-->
            <!--        -->

            <ng-template pTemplate="summary">
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">

                  {{_sRutaEntrenadorService.registrosPagina}}
                  {{'generales.registrosDeUnTotalDe' | transloco}}
                  {{_sRutaEntrenadorService.totalRecords}}
                  {{'generales.registros' | transloco}}

                </div>
                <div class="col-sm-4"></div>
              </div>
            </ng-template>
          </p-table>

        </div>
      </div>
    </mat-card>

    <br>
    <br>

  </ng-container>
</ng-container>
